*.class

# Package Files #
*.jar
*.war
*.ear

target/
test-output/

*.log

.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sonarIssues.xml
